input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body{
    background-color: #ededed;
    height: calc(var(--vh, 1vh) * 100);
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  outline: none;
}

#n{
    width: 10vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid teal;
    background-color: whitesmoke;
    box-shadow: 3px 1px 2px 1px #adadad;
}

@media screen and (max-width: 500px)
{
    #n{
        width: 20vw;
        font-size: 3.8vw;
    }
}

sup{
    color: red;
}

#factoSpan{
    text-align: center;
    font-weight: bold;
    color: blue;
    word-wrap: break-word;
    max-height: 20vh;
    overflow-y: auto;

}

fieldset{
	border-radius: 5px;
    border: 1px solid teal;
    background-color: whitesmoke;
    padding-right: 1vw;
    padding-left: 1vw;
    box-shadow: 3px 1px 2px 1px #adadad;
    min-height: 15vh;
}


#decomposition{
    text-align: center;
}

i{
    color: red;
}

svg{
    margin:0;
    padding: 0;
    width: 95vw;
    height: 90vw;
    border: 1px solid teal;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 3px 1px 2px 1px #adadad;
}

button{
    border: 1px solid teal;
    border-radius: 5px;
    height: 4vh;
}

.centrage{
    display: flex;
    justify-content: space-around;
}

