body {
  background-color: #ededed;
  height: calc(var(--vh, 1vh) * 100);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  outline: none;
}

.container {
  max-width: 1024px;
  margin: auto;
}

#n {
  width: 10vw;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid teal;
  background-color: whitesmoke;
  box-shadow: 3px 1px 2px 1px #adadad;
}

sup {
  color: red;
}

sub {
  color: blue;
}

#factoSpan {
  text-align: center;
  font-weight: bold;
  color: blue;
  word-wrap: break-word;
  max-height: 10vh;
  overflow-y: auto;
}

fieldset {
  border-radius: 5px;
  border: 1px solid teal;
  background-color: whitesmoke;
  padding-right: 1vw;
  padding-left: 1vw;
  box-shadow: 3px 1px 2px 1px #adadad;
  min-height: 5vh;
  text-align: center;
}

i {
  color: red;
}

button {
  border: 1px solid teal;
  border-radius: 5px;
  height: 4vh;
}

.centrage {
  display: flex;
  justify-content: space-around;
}

.container-chart {
  padding-bottom: 200px;
}

canvas {
  margin: 50px 0;
}

@media screen and (max-width: 500px) {
  #n {
    width: 20vw;
    font-size: 3.8vw;
  }
}
