input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    background-color: #ededed;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#n{
    width: 16.5vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid teal;
    background-color: whitesmoke;
    box-shadow: 3px 1px 2px 1px #adadad;
}

sup{
    color: red;
}

#factoSpan{
    font-weight: bold;
    color: blue;
    word-wrap: break-word;
}

fieldset{
	border-radius: 5px;
    border: 1px solid teal;
    background-color: whitesmoke;
    padding-right: 1vw;
    padding-left: 1vw;
    box-shadow: 3px 1px 2px 1px #adadad;
    min-height: 15vh;
}


#decomposition{
    text-align: center;
}

i{
    color: red;
}

svg{
    margin:0;
    padding: 0;
    width: 95vw;
    height: 95vw;
    border: 1px solid teal;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 3px 1px 2px 1px #adadad;
}

button{
    border: 1px solid teal;
}